* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main {
    padding: 5px;
}

.img-background {
    background-image: url("../img/pattern.png");
    background: cover;
    background-color: cornflowerblue;
    height: 150px;
    width: 100%;
}

#img-logo {
    width: 250px;
    padding-top: 80px;
    position: absolute;
}

.color-highlighter {
    background-color: yellow;
}

.list {
    padding: 15px 15px;
}