/* Css globale */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main {
    padding: 5px;
}

a {
    text-decoration: none;
    color: rgb(39, 162, 211);
}

h1 {
    font-size: 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

footer {
    padding: 5px;
}


/* Css per le classi singole */
.first-p {
    font-size: 20px;
    color: gray;
}

.date {
    font-size: 15px;
    color: gray;
}

.img-background {
    background-image: url("../img/pattern.png");
    background: cover;
    background-color: cornflowerblue;
    height: 150px;
    width: 100%;
}

#img-logo {
    width: 250px;
    padding-top: 80px;
    position: absolute;
}

.p-img {
    font-size: 12px;
}

.color-highlighter {
    background-color: yellow;
}

.list {
    padding: 15px 15px;
}

.head-table {
    text-align: left;
    background-color: rgb(33, 135, 175);
    color: white;
}

.th-1 {
    width: 25%;
}

.th-2 {
    width: 50%;
}

.tr-color {
    background-color: skyblue;
}

.color-title {
    color: rgb(133, 133, 133);
}

.img-footer1 {
    margin-top: 10px;
    background-image: url("../img/monitor.jpg");
    width: 270px;
    height: 220px;
    background-repeat: no-repeat;
}

.color-title-img {
    padding: 15px;
    font-size: 20px;
    color: white;
}

.img-footer2 {
    background-image: url("../img/graph.jpg");
    width: 270px;
    height: 220px;
    background-repeat: no-repeat;
}
